#categoryBaseMeal, #displayZone{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap : 20px;
    width : 85%;
    margin : auto;
}
.item{
    background-color: rgba(143, 108, 108, 0.15);
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}
.img-property{
    width : 100%;
    height : auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

