body{
    background-color: seashell;
}

#displayZone{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap : 15px;
    width : 80%;
    margin : auto;
}
.item{
    background-color: rgb(219, 207, 207);
    font-size: 20px;
    border-radius: 10px;
    padding : 5px;
    text-align: center;
}
.img-property{
    width : 100%
}